* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #e2f3ed;
}

#navbar {
    background-color: #67d3af;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
}

#navbar a:hover {
    background-color: #89b7a7;
    color: #333333;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #93ceba;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-container a:hover {
    background: #89b7a7;
}

#hero {
    background-image: url("../images/Hero.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

#hero h3 {
    font-size: 40px;
    color: #eeeeee;
    position: absolute;
    right: 55%;
    bottom: 70%;
}

#hero a { 
    font-size: 26px;
    display: inline-block;
    border-radius: 20px;
    background-color: #67d3af;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    position: absolute;
    right: 70%;
    bottom: 55%;
}

#card-container {
    display: flex;
}

#card-container img {
    position: relative;
    background-color: #89b7a7;
    border: 4px solid #a5cabe;
    width: 540px;
    height: auto;
    object-fit: cover;
    border-radius: 48px;
    padding: 30px;
    top: 30%;
    left: 30%;
}

#side-content h1 {
    position: relative;
    font-size: 45px;
    top: 31%;
    left: 37%;
}

#side-content ul {
    position: relative;
    font-size: 20px;
    top: 34%;
    left: 30%;
}

#side-content p {
    position: relative;
    font-size: 20px;
    top: 35%;
    left: 37%;
}