* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #b1ca88, #88a27a);
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    justify-content: space-between;
    margin-top: 6px;
}

#navbar #logo {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}

#navbar-2 {
    background: #dfc766;
    display: flex;
}

#navbar-2 a {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    justify-content: space-between;
    margin-top: 6px;
}

#navbar-2 #logo-2 {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}

#navbar-2 .cta-button {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    justify-content: space-between;
    margin-top: 6px;
}

#navbar-2 .cta-button  a {
    background-color: #eeeeee;
    color: #c3aa48;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-3 {
    background: #dfc766;
    display: flex;
}

#navbar-3 a {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    justify-content: space-between;
    margin-top: 6px;
}

#navbar-3 #logo-3 {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}

#navbar-3 .cta-button-2 {
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
    justify-content: space-between;
    margin-top: 6px;
}

#navbar-3 .cta-button-2  a {
    background-color: #eeeeee;
    color: #c3aa48;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-3 {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: #c3aa48;
    display: flex;
    justify-content: space-evenly;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px
}