@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {  
    margin-left: 32%;
    padding: 15px;
}

#navbar a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10%;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

#navbar a:hover {
    background-color: #c8c5c1;
    color: #333333;
}

#layout {
    background-image: url(../images/urban-hi-res-1ui7.jpg);
    margin: 0px 150px;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    color: #eeeeee;
    position: absolute;
    right: 65%;
    bottom: 25%;
}

.hero h2 {
    font-size: 96px;
    margin: 0px;
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hero h4 {
    font-size: 42px;
    margin-top: 5%;
    margin-left: 5px;
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#gallery .layout-gallery {
    display: block;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    background-color: #807e7b;
    padding: 12px;
}

#gallery {
    margin: 0px 100px;
}

.layout-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.layout-gallery img{
    width: 100%;
    margin-bottom: 24px;
    border: 2px solid #b5afa9;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #eeeeee;
}

.column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    color: #333333;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px;
    background-color: #807e7b;
    border: 4px solid #b5afa9;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
    padding-bottom: 10px;
}

.card a {
    font-size: 24px;
    margin: 24px 0px 0px;
    text-decoration: none;
    color: #eeeeee;
    border-radius: 10%;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

.card a:hover {
    font-size: 24px;
    margin: 24px 0px 0px;
    text-decoration: none;
    background-color: #c8c5c1;
    color: #333333;
    padding: 10px;
}

body {
    /* background-color: #b6bbbd; */
    background: url(../images/tina-dawson-jAWfDKxRraI-unsplash\ \(1\).jpg)
}