/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.gerbil img {
    width: 60%;
    margin-top: 100px;
    border: 7px outset rgb(138, 97, 56);
    padding: 10px;
    background-color: antiquewhite;
}

.sadhampster img {
    width: 30%;
    margin-top: 110px;
    margin-right: 90px;
    border: 7px outset rgb(138, 97, 56);
    padding: 10px;
    background-color: antiquewhite;
} 

.funny-rodents p {
    width: 50%;
    border: 7px outset rgb(138, 97, 56);
    padding: 10px;
    background-color: antiquewhite;
} 