* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#palette-heading-1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#palette-1-color-1 {
    background-color: #0D3B66;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#palette-1-color-2 {
    background-color: #FAF0CA;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#palette-1-color-3 {
    background-color: #F4D35E;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#palette-heading-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#palette-2-color-1 {
    background-color: #594157;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-2-color-2 {
    background-color: #726DA8;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-2-color-3 {
    background-color: #a3add0;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-heading-3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#palette-3-color-1 {
    background-color: #C97B84;
    color: black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#palette-3-color-2 {
    background-color: #A85751;
    color: black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#palette-3-color-3 {
    background-color: #7D2E68;
    color: white;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}