* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    /* background-color: lightskyblue; */
    grid-area: header;
    padding: 0px 36px;
    background-color: #414141;
    border: 2px solid #252525;
}

#sidebar {
    /* background-color: lightcyan; */
    grid-area: sidebar;
    padding: 0px 24px;
    background-color: #414141;
    border: 2px solid #252525;
}

#main {
    /* background-color: lightgoldenrodyellow; */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    background-color: #414141;
}

#header a {
    text-decoration: none;
}

#header #me {  
    color: #eeeeee;
}

#header #tube {
    background-color: red;
    color: #252525;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #252525;
}

#sidebar ul a {
    text-decoration: none;
    color: #eeeeee;
    display: block;
    padding: 12px 24px;
}

/* pseudo-class */
#sidebar ul a:hover {
    background-color: #666666;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    /* border: 3px solid red; */
    margin-right: 12px;
    margin-bottom: 24px;
}

/* .metube-item .thumbnail-placeholder {
    background: radial-gradient(at top left, crimson, Orange);
    aspect-ratio: 16 / 9;
    border-radius: 8px;
} */

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #eeeeee;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin:8px;
    font-size: 14px
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

.metube-item img {
    display: block;
    width: 100%;
    margin: 20px;
}

.video-details {
    color: #eeeeeeee;
}


