* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
}

#navbar a {
    color: white;
}

p a {
    color: teal;
}

p.warning {
    color: crimson;
}

p.warning a {
    color: orange;
}

ul {
    color: green;
}

ul a {
    color: lime;
}

ul li p a {
    color: purple;
}

li div a {
    color: lightblue;
}