* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color:bisque
}

#navbar {
    background-color: #67d3af;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
}

#navbar a:hover {
    background-color: #89b7a7;
    color: #333333;
}

#hero {
    background-image: url("../images/veggie-wraps.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}


