* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color:bisque
}

#navbar {
    background-color: #9aceb4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #eeeeee;
    padding: 24px;
}

#navbar a:hover {
    background-color: #89b7a7;
    color: #333333;
}

#logo {
    width: 200px;
    padding: 20px;
}

#hero {
    background-image: url("../images/veggie-wraps.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

#heading {
    width: 1000px;
    height: 115vh;
    text-align: center;
    background-color: #89b7a7;
    border-radius: 20px;
    color: #eeeeee;
    margin: 48px auto;
}

#heading h2 {
    font-size: 45px;
    padding-top: 50px;
    margin-bottom: 150px;
}

#heading h4 {
    font-size: 35px;
}

#heading h5 {
    font-size: 30px;
}

#featured img {
    width: 60%;
    border-radius: 20px;
}

#featured .paragraph {
    font-size: 24px;
}

#featured .price {
    margin-top: 4%;
    font-size: 24px;
}

#side-by-side {
    display: flex;
    width: 1000px;
    text-align: center;
    background-color: #89b7a7;
    border-radius: 20px;
    color: #eeeeee;
    margin: 48px auto;
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    padding: 48px;
}

#side-by-side .text {
    margin-top: 60px;
    flex: 1;
    font-size: 20px;
}

#side-by-side .text h3 {
    font-size: 30px;
}

.image-1 img {
    width: 60%;
    border-radius: 20px;
}

#side-1 {
    display: flex;
    width: 1000px;
    text-align: center;
    background-color: #89b7a7;
    border-radius: 20px;
    color: #eeeeee;
    margin: 48px auto;
}

#side-1 .text {
    margin-top: 60px;
    flex: 1;
    font-size: 20px;
}

#side-1 .text h3 {
    font-size: 30px;
}

#side-2 {
    display: flex;
    width: 1000px;
    text-align: center;
    background-color: #89b7a7;
    border-radius: 20px;
    color: #eeeeee;
    margin: 48px auto;
}

#side-2 .text {
    margin-top: 60px;
    flex: 1;
    font-size: 20px;
}

#side-2 .text h3 {
    font-size: 30px;
}

#footer {
    background: #9aceb4;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}

@media screen and (max-width: 800px) {

    #heading {
        width: 500px;
        height: 100vh;
        text-align: center;
        background-color: #89b7a7;
        border-radius: 20px;
        color: #eeeeee;
        margin: 48px auto;
        flex: 1;
    }
    
    #heading h2 {
        font-size: px;
        padding-top: 50px;
        margin-bottom: 150px;
    }
    
    #heading h4 {
        font-size: 35px;
    }
    
    #heading h5 {
        font-size: 30px;
        padding: 24px;
    }
    
    #featured img {
        width: 60%;
        border-radius: 20px;
    }
    
    #featured .paragraph {
        font-size: 24px;
        padding: 24px;
    }
    
    #featured .price {
        margin-top: 4%;
        font-size: 24px;
    }

    #side-by-side {
        flex-direction: column;
        width: 80%;
        text-align: center;
        background-color: #89b7a7;
        border-radius: 20px;
        color: #eeeeee;
        margin: 48px auto;
    }
    
    .image img {
        margin-top: 60px;
        border-radius: 20px;
    }
    
    #side-by-side .text {
        margin-top: 60px;
        font-size: 20px;
    }
    
    #side-by-side .text h3 {
        font-size: 30px;
    }
    
}