* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
}

#sidebar-content {
    /* background-color: bisque; */
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: darksalmon;
    color: aliceblue;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px 12px;
    background-color: #EFEFEF;
    margin: 0px 0px 36px;
    border: 1px solid darksalmon;
}

#sidebar-content a {
    color: darksalmon;
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid darksalmon;
}

#sidebar-content li:last-child {
    border-bottom: none;
}

/* #sidebar-content li:hover {
    background-color: darksalmon;
}

#sidebar-content li:hover a {
    color: white;
} */

#main-content {
    border: 4px solid;
    background-color: #7f397f;
    grid-area: content;
    margin: 0px 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-content p {
    background-color: #7f397f;
    grid-area: content;
    margin: 0px 36px;
}

#main-content h3{
    background-color: #7f397f;
    grid-area: content;
    margin: 0px 36px;
}

#main-content img{
    background-color: #7f397f;
    grid-area: content;
    margin: 0px 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-content h1{
    background-color: #7f397f;
    grid-area: content;
    margin: 0px 36px;
}

#main-content h4{
    background-color: rgb(127, 57, 127);
    grid-area: content;
    margin: 0px 36px;
}